@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display:700|Nunito:300,400&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: #535353;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(46, 153, 46);
  text-align: center;
}

h2 {
  text-transform: capitalize;
  color: hsl(240, 77%, 57%);
  font-weight: 300;
}

p {}

.inverse-dark {
  color: white;
  background-color: rgb(46, 153, 46);
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 153, 46);
  text-align: center;
}

.highlight {
  color: hsl(60, 100%, 61%);
}

.fatp {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

.underlinedp {
  text-decoration: underline;
}