.blok1 {
  width: 200px;
  height: 300px;
  /* Voorgedefinieerde kleuren */
  background-color: tomato;
  font-family: 'Roboto', sans-serif;
}

.blok2 {
  width: 200px;
  height: 300px;
  /* Voorgedefinieerde kleuren */
  background-color: #a25a5a;
  font-family: 'Comic Sans', sans-serif;
  font-weight: 700;
}

.blok3 {
  width: 200px;
  height: 300px;
  /* Voorgedefinieerde kleuren */
  background-color: hsl(310, 100%, 50%);

}

.blok4 {
  width: 200px;
  height: 300px;
  /* Voorgedefinieerde kleuren */
  background-color: rgb(210, 93, 139);
}