* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.minioncontainer {
    background-color: #73eaae;
    justify-content: flex-start;
}

.heart {
    width: 100px;
    /* filter: hue-rotate(90deg) brightness(1.75) drop-shadow(30px 10px 4px #dd447f); */
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.jake {
    position: relative;
    left: 0px;
    width: 100%;
    background-color: pink;
    /* transition */
    transition-property:all;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(0,.71,.96,.46);
}

.jake:hover {
    left: 200px;
    background-color: gold;
    transition: 6s all ease-in 2s;
}

.minioncontainer:hover .minion {
    left: 100vw;

}

.minion {
    width: 100%;
    position: relative;
    left: 10px;
}


.sky {
    position: relative;
    height: 100vh;
    background-image: url('../images/sky.jpg');
    background-size: cover;
    overflow: hidden;
}

.cloud {
    position: relative;
    margin-top: 300px;
    animation: cloud 15s infinite;
}

.jumper1 {}

.jumper2 {}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes cloud {
    0% {
        left: -1000px;
    }
    100% {
        left: 100%;
    }

}